doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="style/style.min.css")
    body 
        .box 
            p.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Est distinctio nemo impedit culpa minus. Recusandae nulla iusto ab nobis quia vel, sapiente, tempora similique aperiam, dicta rerum? Quod, quis. Vero!
        script(src="./script/app.min.js") 